<div class="container text-dark">
  <ul class="list-group list-group-flush">
    {% for chapter in chapters %}

    <li class="list-group-item">
      <a class="text-dark" href="{{chapter.get_absolute_url}}">
        {{chapter.name}}
      </a>
    </li>
    {% empty %}
    <small>No chapters...</small>
    {% endfor %}
  </ul>
  <div class="py-4">
    <nav aria-label="Page navigation example">
      {% if chapters.has_other_pages %}
      <ul class="pagination">
        {% if chapters.has_previous %}
        <li class="page-item">
          <a
            class="page-link text-dark"
            href="?page={{ chapters.previous_page_number }}"
            >Previous</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link text-dark" href="#">Previous</a>
        </li>
        {% endif %} 
        {% for num in chapters.paginator.page_range %}
         {% if chapters.number == l %}
        <li class="page-item active">
          <span class="page-link text-dark"
            >{{ num }} <span class="sr-only">(current)</span></span
          >
        </li>
        {% else %}
        <li>
          <a class="page-link text-dark" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %} 
        {% endfor %}
         {% if chapters.has_next %}
        <li class="page-item">
          <a
            class="page-link text-dark"
            href="?page={{ chapters.next_page_number }}"
            >Next</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link text-dark" href="#">Next</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
  </div>
</div>
