{% extends '../base/base.html' %} {% load static %} {% block title %} Welcome to
{{chapter.name}} {% endblock %} {% block content %} {% load crispy_forms_tags %}
<style>
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>
{% include '../base/nav-main.html' %}
<a
  href="{% url 'loader:comic' chapter.comic.id %}"
  class="btn btn-sm my-3 button btn-secondary"
  >{{chapter.comic}}</a
>
<h2 class="text-white">{{chapter.name}}</h2>
{% for page in pages %}
<div>
  <img src="{{page.imageURL}}" alt="{{chapter.imageURL}}" />
</div>
{% endfor %}
<h2 class="text-white">{{chapter.comic}}</h2>
<a
  href="{% url 'loader:comic' chapter.comic.id %}"
  class="btn btn-sm my-3 button btn-secondary"
  >{{chapter.name}}</a
>
<div class="container">
  <ul class="list-group list-group-flush">
    {% for chapter in chapters %}

    <li class="list-group-item">
      <a class="text-dark" href="{{chapter.get_absolute_url}}">
        {{chapter.name}}
      </a>
    </li>

    {% endfor %}
  </ul>
  {% include 'loader/chapterpages.html' %}
</div>

<div>{% include 'loader/review_feed.html' %}</div>
{% include 'loader/footer.html' %} {% endblock content %}
