{% extends '../base/base.html' %} {% load static %} {% block title %} Welcome to
{{chapter.name}} {% endblock %} {% block content %} {% load crispy_forms_tags %}
<style>
  img {
    display: block;
    width: 100%;
  }
  h3 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
  }
  .button {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    transition: background 500ms ease;
  }

  .button:hover {
    background: red;
  }

  .list-group-item a {
    text-decoration: none;
    transition: background 500ms ease;
  }

  .list-group-item a:hover {
    background: red;
  }
</style>
{% include '../base/nav-main.html' %}
<a
  href="{% url 'loader:comic' chapter.comic.id %}"
  class="btn btn-sm my-3 button"
  >{{chapter.comic}}</a
>
<div>
  <h3>{{chapter.name}}</h3>
  {% for page in pages %}
  <img src="{{page.imageURL}}" alt="{{chapter.imageURL}}" />
  {% endfor %}
  <h3>{{chapter.comic}}</h3>
  <a
    href="{% url 'loader:comic' chapter.comic.id %}"
    class="btn btn-sm my-3 button"
    >{{chapter.name}}</a
  >
</div>
<div class="container">
  <ul class="list-group list-group-flush">
    {% for chapter in chapters %}

    <li class="list-group-item">
      <a class="text-dark" href="{{chapter.get_absolute_url}}">
        {{chapter.name}}
      </a>
    </li>

    {% endfor %}
  </ul>
  {% include 'loader/chapterpages.html' %}
</div>

<div>{% include 'loader/review_feed.html' %}</div>

{% include 'loader/footer.html' %} {% endblock content %}
