{% extends 'base.html' %} {% load static %} {% block title %} Welcome to Comics
{% endblock %} {% block content %}{% include 'loader/navbar.html' %}
<div class="container">
  <br />
  <nav class="nav nav-pills nav-fill">
    <a class="nav-link text-dark" aria-current="page" href="/comics/">All</a>
    {% for genre in genres %}
    <a class="nav-link text-dark" href="/comics/?genre={{genre.name}}">{{genre.name}}</a>
    {% endfor %}
  </nav>
  {% include 'loader/comics_feed.html' %}
</div>
{% include 'loader/footer.html' %}{% endblock content %}
