{% extends "../base/base.html" %} {% block title %} Welcome to Comics {% endblock %} {% load crispy_forms_tags %} {% block content %}{% load static %} {% include '../base/nav-main.html' %}
<div class="album py-1 bg-dark">
  <div class="container">
    <div class="col-12 pb-1 text-white">
      <p class="display-4 text-center">
        <i class="fas fa-book-open text-primary"></i> Comics
        <span class="text-primary">Page</span>
      </p>
    </div>

    {% include 'loader/comics_feed.html' %}
  </div>
</div>

{% include 'loader/footer.html' %}{% endblock content %}
