{% extends '../base/base.html' %} {% load static %} {% block title %} Welcome to
Bookmark {% endblock %} {% block content %}{% include '../base/nav-main.html' %}
<div class="container text-dark">
  <section class="jumbotron text-center bg-white">
    <div class="container">
      <h1 class="display-4 text-center">
        <i class="fas fa-book-open text-primary"></i> Bookmark
        <span class="text-primary">Page</span>
      </h1>
    </div>
  </section>
  <div>
    <div class="row">
      {% for comic in comics %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a class="text-dark" href="{{comic.get_absolute_url}}">
            <img
              class="card-img-top"
              src="{{comic.imageURL}}"
              alt="{{ comic.imageURL}}"
            />
          </a>
          <div class="card-body">
            <h2 style="font-size: 18px; font-weight: bold">
              {{comic.title|truncatechars:100}}
            </h2>
            <p class="card-text">{{comic.description|truncatechars:200}}</p>

            <ul class="list-group list-group-flush">
              {% with comic.chapter_set.first as chapter %}
              <li class="list-group-item">
                <a class="text-dark" href="{{chapter.get_absolute_url}}"> {{chapter.name}} </a>
              </li>
              {% endwith %}
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <p>{{ comic.updated|timesince }} ago</p>
              <div id="favourite-section">
                <a
                  href="{% url 'loader:bookmark' comic.id %}"
                  class="btn btn-outline-primary"
                  >Remove</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include 'loader/footer.html' %}{% endblock content %}
