    {% extends "base/base.html" %}
    
    {% block title %}
    Catlist
    {% endblock %}

    {% block content %}
   {% include '../base/nav-main.html' %}
    <div class="album py-1 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 pb-1 text-white">
            <p> List of {{catlist.cat}} comics</p>
          </div>
          {% for post in catlist.posts %}
          <div class="col-md-4">
    <a class="text-dark" href="{{post.get_absolute_url}}">
      <div class="card mb-1 box-shadow">
        <img
          class="card-img-top"
          src="{{post.imageURL}}"
          alt="{{ post.title }}"
        />
        <div class="card-body">
          <h2 style="font-size: 16px">{{post.title|truncatechars:50}}</h2>
          <p class="card-text">{{post.category|truncatechars:50}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted"><em>{{post.rating}}</em></small>
            <p class="text-muted">{{post.status}}</p>
          </div>
        </div>
        <div class="card-footer">
          {% with post.chapter_set.first as chapter %}
            <a href="{{chapter.get_absolute_url}}" class="text-dark"
              >{{chapter.name|truncatechars:50}}</a
            >
            {% endwith %}
        </ul>
        </div>
      </div>
    </a>
  </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% include '../base/footer.html' %}
    {% endblock %}