{% extends "../base/base.html" %}
{% block title %} Welcome to Index
{% endblock %}
 {% load crispy_forms_tags %}
{% block content %}
{% include '../base/nav-main.html' %}
<section class="jumbotron text-center bg-white">
    <div class="container">
      <h1 class="display-4 text-center">
        <i class="fas fa-book-open text-primary"></i> Index
        <span class="text-primary">Page</span>
      </h1>
    </div>
  </section>
<div class="container">
  {% include 'loader/comics_feed.html' %}  
</div>

{% include 'loader/footer.html' %}{% endblock content %}
