{% extends "../base/base.html" %} {% block title %} Welcome to Index {% endblock %} {% load crispy_forms_tags %} {% block content %}{% load static %} {% include '../base/nav-main.html' %}
<div class="album py-5 bg-dark">
  <div class="container">
    <div class="row">
      <h1 class="display-4 text-center text-white">
        <i class="fas fa-book-open text-primary"></i> Index
        <span class="text-primary">Page</span>
      </h1>
    </div>

    {% include 'loader/comics_feed.html' %}
  </div>
</div>

{% include 'loader/footer.html' %}{% endblock content %}
