{% extends 'base.html' %} {% load static %} {% block title %} Welcome to Profile
{% endblock %} {% block content %}{% include 'loader/navbar.html' %}
<style>
  .profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
</style>
<br />
<div class="profile-container">
  <div>
    <div class="container">
      <div class="card">
        <div class="card-header"><b>Genres</b></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{% url 'index' %}">All</a>
          </li>
          {% for genre in genres %}

          <li class="list-group-item">
            <a href="{% url 'index' %}?genre={{genre.name}}">
              {{genre.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        {% for chapter in chapters %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <a class="text-dark" href="{% url 'chapter' chapter.id %}">
                <span class="chapter-title" style="font-size: 12px">
                  {{chapter.name|truncatechars:50}}
                </span>
              </a>
            </div>
            <div class="card-text">
              <span>{{chapter.updated|timesince}} ago</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div>
        {% if chapters.has_other_pages %}
        <ul class="pagination">
          <div>
            {% if chapters.has_previous %}
            <li class="page-item">
              <a
                class="page-link"
                data-page="{{chapters.previous_page_number}}"
                href="?page={{chapters.previous_page_number}}"
                >&laquo;</a
              >
            </li>
            {% endif %}
          </div>
          {% for i in chapters.paginator.page_range %}
          <div>
            {% if chapters.number == i %}
            <li class="page-item">
              <a class="page-link" data-page="{{i}}" href="?page={{i}}"
                >{{i}}</a
              >
            </li>

            {% endif %}
          </div>
          {% endfor %}
          <div>
            {% if chapters.has_next %}
            <li class="page-item">
              <a
                class="page-link"
                data-page="{{chapters.next_page_number}}"
                href="?page={{chapters.next_page_number}}"
                >&raquo;</a
              >
            </li>
            {% endif %}
          </div>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <p>Recent Activities</p>
{% for review in chapter_review %}
<a href='{% url 'user-profile' review.user.id %}'>@{{review.user}} {{review.created|timesince}}</a>
<div>replied to '<a href='{% url 'chapter' review.chapter.id %}'>{{review.chapter.name}}'</a></div>
<p>{{review}}</p>
{% if request.user == review.user %}
<a href="{% url 'delete-review' review.id %}">Delete</a>
{% endif %}
<hr />
{% endfor%}
      </div>
    </div>
  </div>
</div>

 {% include 'loader/footer.html' %}{% endblock content %}

