{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% block title %} Welcome to Register {% endblock %} {% block content %}

<style type="text/css"></style>
{% include 'loader/navbar.html' %}
<section id="login-page-wrapper">
  <div id="login-form-wrapper">
    <h3 style="text-align: center">Register Account</h3>
    <hr />
    <form method="POST" action="?next={{ request.META.HTTP_REFERER }}">
      {% csrf_token %} {{form|crispy}}
      <input
        class="btn btn-primary btn-lg btn-block"
        type="submit"
        value="Login"
      />
    </form>

    <br />
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </div>
</section>

{% include 'loader/footer.html' %}{% endblock content %}
