@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap");

body {
  background-color: darkgray;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.7;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
b,
strong {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.list-group-item a {
  text-decoration: none;
  color: black;
}

.comic-title {
  color: brown;
}


#btn-back-to-top {
position: fixed;
bottom: 20px;
right: 20px;
display: none;
}