@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.7;
  
}

.app {
  display:block;
}

.app-header {
  margin: 0;
  padding: 0;
  min-height: 5vh;
}

.content {
  background-color: #282c34;
  color: white;
}

.genres-container {
    min-height: 10vh;
    display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.genres-container a {
  text-decoration: none;
  font-size: 11px;
  color: silver;
}

.card {
  display: flex;
  justify-content: space-around;
}

.comics-container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  font-size: small;
}
 a {
  text-decoration: none;
}

.pagination-container {
    min-height: 10vh;
}

.pagination-container a {
  margin: 0;

}

.avatar {
        height: 30px;
        width: 30px;
        background-color: #000;
        border-radius: 50%;
        display: inline-block;

    }
    .nav-link {
        text-decoration: none;
    }
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
  }
  .button {
    color: #fff;
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    transition: background 500ms ease;
  }

  .button:hover {
    background: purple;
  }

  .list-group-item a {
    text-decoration: none;
    transition: background 500ms ease;
  }

  .list-group-item a:hover {
    background: purple;
  }

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}



footer {
  text-align: center;
  background-color: #282c34;
  color: white;
}
