 <header class="header">
      <nav class="navbar navbar-expand-lg bg-body-dark navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="{% url 'home' %}" class="navbar-brand">Rhixescans</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:comic_search' %}"
                  >Search</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span>Genres</span>
                </a>
                <ul class="dropdown-menu">
                  {% for genres in genres_list %}
                  <li>
                    <a class="dropdown-item" href="/account/genre/{{genres.name}}">
                      {{ genres.name|title }}
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  {% endfor %}
                </ul>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="avatar" src="
                {% for data in avatar %}
                {{ data.avatar.url }}
                {% endfor %}
                ">
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url "accounts:profile" user.id %}">Dashboard</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url "password_change" %}">Change Password</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url "accounts:edit" %}">Edit details</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:bookmark_list' %}">Bookmarks</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='{% url 'accounts:register' %}'>Register</a>
              </li>
              {% endif %}
            </ul>
            <form
              class="form-inline my-2 my-lg-0"
              role="search"
              method="GET"
              action="/search/"
            >
              <input
                class="form-control mr-sm-2"
                type="search"
                name="q"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>